<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Sick App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<h1>Form</h1>
    <form action="#" th:action="@{/api/sick}" th:object="${sickovac}" method="post">
    	<p>Name: <input type="text" th:field="*{name}" /></p>
        <p>Last Name: <input type="text" th:field="*{lastName}" /></p>
        <p>Level: <input type="text" th:field="*{level}" /></p>
        <p>Age: <input type="text" th:field="*{age}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>